<div class="container">
	<div class="row">
	    <br/>
        <div class="panel panel-primary">
             <div class="panel-heading">                  
                  <pre>
Which among the following statements regarding the Surrogacy (Regulation)
bill, 2016 is incorrect ?
a. It allows only Indian citizens for Surrogacy
in India
b. The bill allows both gestational and
traditional Surrogacy
c. Any woman in the age range of 25 to
35 years of age is allowed to undertake
surrogacy
d. Surrogacy boards will decide code of
conduct for Surrogacy in India                      
                  </pre>
             </div><!--.panel-heading-->
        
<div class = "panel-body">
      <h4>Your Answer</h4>
           </div>

                <div class="panel-footer">
                    <div class="row">
    <div class="funkyradio">
        <div class="funkyradio-default">
            <input type="radio" name="radio" id="radio1" />
            <label for="radio1">First Option default</label>
        </div>
        <div class="funkyradio-primary">
            <input type="radio" name="radio" id="radio2" checked/>
            <label for="radio2">Second Option primary</label>
        </div>
        <div class="funkyradio-success">
            <input type="radio" name="radio" id="radio3" />
            <label for="radio3">Third Option success</label>
        </div>
        <div class="funkyradio-danger">
            <input type="radio" name="radio" id="radio4" />
            <label for="radio4">Fourth Option danger</label>
        </div>
        <div>
            <button  class="btn btn-primary">Submit and proceed</button>
        </div>

\
    </div>        
                           
                    </div>
                </div>
        </div>
</div>
</div>