 
      <div class ="mainclass" *ngIf = !this.isfinished>
  <h4>TEST NAME  {{this.testname}}</h4>
     
        <div class = "question"><h4>Q NO {{this.index+1}} :- {{ this.questiontodisplay}}</h4></div>
        <br>

    
    <div class="container">
        <div class="row">
            <br/>
            
            <div class="panel panel-primary">
        
<div class = "panel-body">
      <h4>Your Answer</h4>
           </div>

                <div class="panel-footer">
                    <div class="row">
                        <form  [formGroup]= "questionform" (submit)="nextquestion();">
    <div class="funkyradio -primary">
        <div class="funkyradio-primary">
            <input type="checkbox" id="radio1" formControlName="option1" />
            <label for="radio1">{{this.prod[this.index]["option1"]}}</label>
        </div>
        <div class="funkyradio-primary">
            <input type="checkbox"  id="radio2" formControlName="option2"/>
            <label for="radio2">{{this.prod[this.index]["option2"]}}</label>
        </div>
        <div class="funkyradio-primary">
            <input type="checkbox"  id="radio3" formControlName="option3"/>
            <label for="radio3">{{this.prod[this.index]["option3"]}}</label>
        </div>
        <div class="funkyradio-primary">
            <input type="checkbox"  id="radio4" formControlName="option4" />
            <label for="radio4">{{this.prod[this.index]["option3"]}}</label>
        </div>
        <div *ngIf= "this.index<this.prod.length-1">
            <button  class="btn btn-primary" type ="submit">Submit and next</button>
        </div>
        <div *ngIf = "this.index>=this.prod.length-1">
            <button  class="btn btn-primary" (click) ="evaluate();" >Submit and Finish</button>
        </div>

\
    </div>        
                </form>           
                    </div>
                </div>

                
        </div>
</div>
</div>
</div>
<div *ngIf = "this.isfinished">No of correct answers ={{this.correctquestioncount}} </div>
