<body>
  <div class="tab">
    <button class="tablinks" (click)="getAvailableTests();" >Available Tests</button>
    <button class="tablinks" (click)="getTakenTests();" >Taken tests</button>
    
  </div>
<br>
<div *ngIf = "this.currenttab == 'availtest'" class="container">
  <h4>Available Tests</h4>
  <br>
    <div class = "row">

<div class="col-lg-9">


    <div  class="row">

      <div *ngFor="let details of prod; let index=index;" class="col-lg-4 col-md-6 mb-4">
        <div class="card h-100">
        
          <div class="card-body">
            <h4 class="card-title">
              <a  [routerLink]="['../test/',details.testid]">Name:-{{details.testname}}</a>
            </h4>
            <h5>No of questions is 10</h5>
            <h5 >Pass mark is 5</h5>
          </div>

        </div>
      </div>
    </div>

   
    <!-- /.row -->

  </div>
</div>
</div>

<div *ngIf = "this.currenttab == 'takentest'" class="container">
  <h4>Taken Tests</h4>
  <br>
    <div class = "row">

<div class="col-lg-9">


    <div  class="row">

      <div *ngFor="let details of takentest; let index=index;" class="col-lg-4 col-md-6 mb-4">
        <div class="card h-100">
        
          <div class="card-body">
            <h4 class="card-title">
              <a  [routerLink]="['../sheet/',details.testid]">Name:-{{details.testname}}</a>
            </h4>
            <h5>No of questions is 10</h5>
            <h5 >Pass mark is 5</h5>
          </div>

        </div>
      </div>
    </div>

   
    <!-- /.row -->

  </div>
</div>
</div>
</body>