
<body>

    <br>
    
        
        <h3>Question Paper of{{this.testname}}</h3>
        <div class = "row">
    
    <div class="col-lg-9">
    
    
        <div  class="row">
    
          <div *ngFor="let details of prod; let index=index;" class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
            
              <div class="card-body">
                <h6>Question:-</h6>
                  <h5>{{details.question}}</h5>
                
                <h6>Option1:-</h6>
                  <h5>{{details.option1}}</h5>
                <h6>Option2:-</h6>
                  <h5>{{details.option2}}</h5>
                <h6>Option3:-</h6>
                  <h5>{{details.option3}}</h5>
                <h6>Option4:-</h6>
                  <h5>{{details.option4}}</h5>
                <h6>Correct Answer</h6>
                  <h5>{{details.answer}}</h5>

                
              </div>
              <div class="card-footer">
                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
              </div>
            </div>
          </div>
        </div>
    
       
        <!-- /.row -->
    
      </div>
    </div>
    
    
    
    </body>